/* You can add global styles to this file, and also import other style files */
button {
    font-family: Arial;
    background-color: rgb(223, 219, 219);
    color: black;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
